# Build outputs 
bin/ 
obj/ 
dist/ 
 
# Dependencies 
node_modules/ 
 
# Visual Studio 
.vs/ 
*.user 
*.suo 
 
# Temp files 
*.log 

# Build outputs
GUI/View/build/

# wwwroot files except powerplan
GUI/wwwroot/*
!GUI/wwwroot/Powerplan/